@import "tailwindcss";

body {
  font-family: var(--font-quicksand), sans-serif;
  overflow-x: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}